# .gitignore


/**/*pdf
/**/*png
/**/*jpg
/**/*xls*					
/**/*gz
/**/*csv
/**.doc*
/**/*Rmd

/**/temp_eval
/**/*data
/**/*.bk
/**/catboost_info
/**/rawdata
/**/adata
/**/result*
/**/output*

!/**/*.r
!/**/*.R
!/**/*.py
!/**/*.ipynb
/RProgs/v*/r/backup
